<div class="background">
  <img src="/assets/images/upc.png" alt="Logo" class="logo" />
  <h1 class="title">VIK´S ADVENTURES</h1>

  <div class="button-container">
    <button class="play-button" (click)="navigateToInitial()">
      <i class="fas fa-play button-icon"></i>
      PLAY
    </button>
  </div>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <div id="phaser-container" class="phaser-box"></div>
</div>
