<div class="main-wrapper">
  <!-- Botones navegación superior -->
  <div class="button-container">
    <button class="nav-button" (click)="navigateToComponent1()">MENU</button>
    <button class="nav-button" (click)="navigateToComponent2()">TU RUTA</button>
  </div>

  <!-- Contenido principal -->
  <div class="content-container">
    <!-- Sprite -->
    <div id="phaser-container"></div>

    <!-- Tarjetas -->
    <div class="card-container">
      <div class="title" *ngIf="currentCard === 0">
        <h1 class="dynamic-title">FRACCIONES</h1>
      </div>
      <div class="dialog-card" *ngIf="currentCard === 0">
        <p>¡Hola! En este nivel seguiremos  aprendiendo sobre las fracciones.
        </p>
      </div>

      <div class="title" *ngIf="currentCard === 1">
        <h2 class="dynamic-title-small">PARTE DEL TOTAL</h2>
      </div>
      <div class="dialog-card" *ngIf="currentCard === 1">
        <p>Una fracción puede representar solo una parte del total o varias partes del total.</p>
      </div>
      <div class="example-card" *ngIf="currentCard === 1">
        <img src="assets/images/d2/D2-A-1.PNG" alt="Partes de una fracción">
      </div>

      <div class="title" *ngIf="currentCard === 2">
        <h2 class="dynamic-title-small">MULTIPLICAR PARA HALLAR EL TOTAL
        </h2>
      </div>
      <div class="dialog-card" *ngIf="currentCard === 2">
        <p>Si sabes una parte, multiplica por el denominador.</p>
      </div>
      <div class="example-card" *ngIf="currentCard === 2">
        <img src="assets/images/d2/D2-A-2.PNG" alt="Partes de una fracción">
      </div>

      <div class="title" *ngIf="currentCard === 3">
        <h2 class="dynamic-title-small">DIVIDIR PARA HALLAR UNA PARTE
        </h2>
      </div>
      <div class="dialog-card" *ngIf="currentCard === 3">
        <p>Si sabes varias partes, puedes dividir entre el numerador para saber cuánto vale una.</p>
      </div>
      <div class="example-card" *ngIf="currentCard === 3">
        <img src="assets/images/d2/D2-A-3.PNG" alt="Fracción propia">
      </div>

      <div class="title" *ngIf="currentCard === 4">
        <h2 class="dynamic-title-small">PARTES DE UNA FRACCIÓN</h2>
      </div>
      <div class="dialog-card" *ngIf="currentCard === 4">
        <p>Recuerda, una fracción tiene dos partes principales: el numerador (arriba) y el denominador (abajo).
        </p>
      </div>
      <div class="example-card" *ngIf="currentCard === 4">
        <img src="https://i.ibb.co/Y4Zq0gMM/partefraccion.png" alt="Fracción impropia">
      </div>

      <div class="title" *ngIf="currentCard === 5">
        <h2 class="dynamic-title-small">FRACCIÓN EQUIVALENTE</h2>
      </div>
      <div class="dialog-card" *ngIf="currentCard === 5">
        <p>Tiene el mismo valor aunque use otros números.</p>
      </div>
      <div class="example-card" *ngIf="currentCard === 5">
        <img src="assets/images/d2/D2-A-4.jpg" alt="Fracción mixta">
      </div>

      <div class="title" *ngIf="currentCard === 6">
        <h2 class="dynamic-title-small">CONSEJO ÚTIL</h2>
      </div>
      <div class="dialog-card" *ngIf="currentCard === 6">
        <p>Cuando una fracción es parte del total, primero divido para saber 1 parte, y luego multiplico para saber todo</p>
      </div>

      <div class="dialog-card" *ngIf="currentCard === 7">
        <p>¡Eso es todo! Ahora lo pondremos en práctica.</p>
        <button (click)="goToRemember()">CONTINUEMOS</button>
      </div>
    </div>
  </div>

  <!-- Footer fijo y con textos -->
  <footer class="footer-container">
    <div class="arrow-group" *ngIf="currentCard > 0" (click)="previousCard()">
      <div class="arrow-left"></div>
      <span class="arrow-label">Retroceder</span>
    </div>
    <div class="arrow-group" *ngIf="currentCard < 7" (click)="nextCard()">
      <div class="arrow"></div>
      <span class="arrow-label">Avanzar</span>
    </div>
  </footer>
</div>
