<body>
<div class="card-container" *ngIf="profile">
  <mat-card class="main-card">
    <mat-card-title class="main-title">¡Hola, {{ profile.fullName }}! estos son tus datos</mat-card-title>
    <mat-card-content>
      <div class="info-grid">

        <mat-card class="info-card">
          <mat-icon class="icon">person</mat-icon>
          <span>{{ profile.fullName }}</span>
        </mat-card>

        <mat-card class="info-card">
          <mat-icon class="icon">wc</mat-icon>
          <span>{{ profile.birthDate }}</span>
        </mat-card>

        <mat-card class="info-card">
          <mat-icon class="icon">cake</mat-icon>
          <span>{{ profile.sex }}</span>
        </mat-card>

        <mat-card class="info-card">
          <mat-icon class="icon">school</mat-icon>
          <span>{{ profile.gradeLevel }}</span>
        </mat-card>

        <mat-card class="info-card">
          <mat-icon class="icon">apartment</mat-icon>
          <span>{{ profile.school }}</span>
        </mat-card>

      </div>
    </mat-card-content>
  </mat-card>

  <div class="logo-container">
    <img src="/assets/images/upc.png" class="upc-logo" alt="Logo UPC" />
  </div>
</div>
</body>
