<div class="background">
  <div class="card">
    <div class="user-info">
      <img src="assets/images/vickk.png" alt="SignUpUser Image" class="user-image">
      <h2 class="title">REGISTRARSE</h2>
    </div>

    <form (ngSubmit)="onSignUp()" class="button-container">
      <label class="action-button">USUARIO</label>
        <input
          type="text"
          label="Ingresa tu nombre"
          id="name"
          name="name"
          required
          class="form-input"
          [(ngModel)]="user.name"
        />
        <label class="action-button">EMAIL</label>
        <input
        type="email"
        label="Ingresa tu gmail"
        id="email"
        name="email"
        required
        class="form-input"
        [(ngModel)]="user.email"
      />

      <label class="action-button">CONTRASEÑA</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        class="form-input"
        [(ngModel)]="user.password"
      />


      <button type="submit" class="action-button">Enviar</button>
    </form>

  </div>
</div>


