<app-header></app-header>
<body>
<div class="title-card-container">
  <mat-card class="title-card">
    <h1 class="titulo" style="font-family: 'Press Start 2P',ui-sans-serif;">ELIGE TU MAPA</h1>
  </mat-card>
</div>

<div class="card-container">
  <mat-card routerLink="/welcomeQuestionnaire">
    <mat-card-header>
      <mat-card-title style="font-family: 'Press Start 2P',ui-sans-serif; color: #2563eb;">MERCADO</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/images/mercado.png" alt="Mercado">
  </mat-card>
  <mat-card routerLink="/welcomeQuestionnaire">
    <mat-card-header>
      <mat-card-title style="font-family: 'Press Start 2P',ui-sans-serif; color: #2563eb;">CIENCIA</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/images/laboratorio.png" alt="Laboratorio">
  </mat-card>
  <mat-card routerLink="/welcomeQuestionnaire">
    <mat-card-header>
      <mat-card-title style="font-family: 'Press Start 2P',ui-sans-serif; color: #2563eb;">FANTASIA</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/images/fantasia.png" alt="Fantasía">
  </mat-card>
  <mat-card routerLink="/welcomeQuestionnaire">
    <mat-card-header>
      <mat-card-title style="font-family: 'Press Start 2P',ui-sans-serif; color: #2563eb;">ESPACIAL</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/images/espacial.png" alt="Espacial">
  </mat-card>
</div>
</body>
