<app-header></app-header>
<div class="background">
  <div class="card title-card">
    <h2 style="font-family: 'Press Start 2P', cursive; font-size: 10px">
      {{ riddle?.question }}
    </h2>
  </div>

  <div class="card dynamic-card">
    <div class="fraction-graphic-container" *ngIf="riddleDetails.length">
      <ng-container *ngFor="let detail of riddleDetails; let i = index">
        <img [src]="detail.imageUrl" class="fraction-image" alt="Imagen de práctica" />
        <div class="input-zone">
          <input [(ngModel)]="inputs[i]" placeholder="Escribe aquí" />
        </div>
      </ng-container>
    </div>

    <button (click)="checkAnswer()">Enviar</button>

    <div class="feedback">
      <p>{{ feedbackMessage }}</p>
    </div>
  </div>

  <footer class="footer">
    <button [disabled]="!isCompleted" (click)="goToNext()">Continuemos</button>
  </footer>
</div>
